<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>MAPED pages</h1>
<div>
    <p><a href="http://localhost:8080/productLine/id">
        ProductLine id
    </a></p>
</div>

<div>
    <a href="http://localhost:8080/productLine/all">
        ProductLine all
    </a></p>
</div>

<div>
    <p><a href="http://localhost:8080/productLine/full/name">
        ProductLine by id
    </a></p>
</div>

<div>
    <p><a href="http://localhost:8080/productLine/full/desc/desc">
        ProductLine by description
    </a>
</div>

<div>
    <p><a href=" http://localhost:8080/productLine/like/name/name">
        ProductLine like Name called with customised method
    </a></p>
</div>

<div>
    <p><a href="http://localhost:8080/productLine/like/desc/desc">
        ProductLine Like description called with customised method
    </a></p>
</div>

<div>
    <p><a href="http://localhost:8080/productLine/query/name/name">
        ProductLine Like Name called with customised Query method
    </a></p>
</div>
<h1>Pages with TEMPLATES</h1>
    <p><a href="http://localhost:8080/customertemplate/test" target="_blank">
        one test page
    </a></p>
    <p><a href="http://localhost:8080/customertemplate/firspage/customer/112" target="_blank">
        two test page
    </a></p>
</body>
</html>