<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
            body {background-color: powderblue;}
            h1   {color: blue;}
            p    {color: red;}
        </style>
</head>
<body>

<h1>MAPED pages</h1>
<div>
    <p><a href="http://localhost:8080/productLine/id">
        ProductLine id
    </a></p>
</div>

<div>
    <a href="http://localhost:8080/productLine/all">
        ProductLine all
    </a></p>
</div>

<div>
    <p><a href="http://localhost:8080/productLine/full/name">
        ProductLine by id
    </a></p>
</div>

<div>
    <p><a href="http://localhost:8080/productLine/full/desc/desc">
        ProductLine by description
    </a>
</div>

<div>
    <p><a href=" http://localhost:8080/productLine/like/name/name">
        ProductLine like Name called with customised method
    </a></p>
</div>

<div>
    <p><a href="http://localhost:8080/productLine/like/desc/desc">
        ProductLine Like description called with customised method
    </a></p>
</div>

<div>
    <p><a href="http://localhost:8080/productLine/query/name/name">
        ProductLine Like Name called with customised Query method
    </a></p>
</div>
<h1>Pages with TEMPLATES</h1>
    <p><a href="http://localhost:8080/cTemplate/firstpage/112" target="_blank">
        Customer page
    </a></p>
    <p><a href="http://localhost:8080/plTemplate/firstpage/Ships" target="_blank">
        Product Line page
    </a></p>
    <p><a href="http://localhost:8080/cTemplate/firstpage/customer/all" target="_blank">
        Customer page list
    </a></p>
    <p><a href="http://localhost:8080/plTemplate/firstpage/productLine/all" target="_blank">
        Product Line page list
    </a></p>
<h1>Pages with STYLE</h1>

<p><a href="http://localhost:8080/cTemplate/customer/112" target="_blank">
    Customer id
</a></p>
<p><a href="http://localhost:8080/cTemplate/main/customertable/all" target="_blank">
    All Customer
</a></p>
<h1>Pages with JQUERY</h1>

<p><a href="http://localhost:8080/cTemplate/main/jquerypage" target="_blank">
    JQUERY
</a></p>
</body>
</html>